
<div style="background-color: rgb(250, 250, 250); min-width: 500px;" class="dropzone" (dragover)="onDragOver($event)"
    (drop)="onDrop($event)">
    <div mat-dialog-content class="chooser-container">
        <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
        <button class="dialog-button" (click)="fileInput.click()">انتخاب فایل</button>
        <p class="file-chooser-p">فایل خود را به اینجا بکشید یا برای انتخاب کلیک کنید</p>
    </div>
</div>

<div *ngIf="files.length > 0" style="margin-top:20px; display: contents;  max-height: 50px;">
    <ul style="overflow-y: auto; max-height: 150px; direction: ltr;">
        <li *ngFor="let file of files; let i = index" style="height: 20px; margin-top: 2px;">
            <div class="file-preview-container">
                <img [src]="previews[i]" *ngIf="previews[i]" alt="Preview" class="preview-image" />
                <div class="dz-progress " style=" display: flex;" > 
                    <span class="file-name">
                        <p>{{ file.name}} </p>
                       </span>
                    <span class="upload-progress " 
                     style="background-color: rgb(205, 205, 205); width: 15%; height: 20px;" [style.width.%]="uploadProgress[i]+1">{{uploadProgress[i]}} % </span>
                 </div>
            </div>
        </li>
    </ul>
</div>

<div mat-dialog-actions>
    <button class="dialog-button" mat-button (click)="close()">بستن</button>
</div>
