.dialog-button {
  margin: 1px;
  margin-left: 3px;
  background-color: purple;
  border-radius: 10px;
  border: solid 1px #d1d1d1;
  font-size: 16px;
  padding: 5px;
  color: white;
  width: 100px;
  max-height: 50px;
}

.upload-progress {
  margin-right: 10px;
  border-style: groove;
  border-radius: 10px;
}

.preview-image {
  height: 30px;
  width: 10%;
}

.chooser-container {
  background-color: white;
  display: flex;
  height: 100px;
  min-width: 480px;
  margin: 10px;
  margin-top: 20px;
  align-items: center;
  padding: 0px;
  padding-left: 3px;
}


.dropzone {
  width: 100%;
  height: 100%;
  background-color: purple;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.dropzone.dragover {
  border-color: #000;
}

.custom-file-button:hover {
  background-color: #0056b3;
}

.file-chooser-p {
  min-width: fit-content;
  padding-left: 5px;
  text-align: center;
  text-align: bottom;
  height: 20px;
}

.file-preview-container {
  display: flex;
  border-style: none;
}

.file-name {
  min-width: 80%;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  text-wrap: nowrap;
  margin-right: 1vh;
  height: 20px;
  min-width: max-content;
  max-width: max-content
}

:host ::ng-deep {
  .mdc-linear-progress__bar-inner {
    right: 0;
  }
  .progress-completed {
    .mdc-linear-progress__bar-inner {
      border-color: green;
    }
  }
}

.text-field {
  width: 400px;                 /* Set the fixed width */
  white-space: nowrap;          /* Prevent the text from wrapping */
  overflow: hidden;             /* Hide the overflow text */
  text-overflow: ellipsis;      /* Display an ellipsis (...) for overflowed text */
}
