
<div style="background-color: rgb(250, 250, 250); min-width: 500px;" class="dropzone" (dragover)="onDragOver($event)"
    (drop)="onDrop($event)">
    <div mat-dialog-content class="chooser-container">
        <input type="file" multiple (change)="onFileSelected($event)" hidden #fileInput>
        <button class="dialog-button" (click)="fileInput.click()">انتخاب فایل</button>
        <p class="file-chooser-p">فایل خود را به اینجا بکشید یا برای انتخاب کلیک کنید</p>
    </div>
</div>

<div *ngIf="files.length > 0">
    <ul class="mx-2 px-0">
        <li *ngFor="let file of files; let i = index">
            <div class="rtl font-mono">
                <div class=""> 
                    <div class="d-flex flex-row align-items-center">
                       <mat-progress-bar [ngClass]="{'progress-completed': uploadProgress[i] === 100}" [dir]="'ltr'" mode="determinate" [value]="uploadProgress[i]"></mat-progress-bar> <p class="text-left mb-0 pr-2 text-field" dir="ltr">{{ file.name}} </p>
                    </div>
                 </div>
            </div>
        </li>
    </ul>
</div>

<div mat-dialog-actions>
    <button class="dialog-button" mat-button (click)="close()">بستن</button>
</div>
