<div>
  <mat-form-field
    class="example-chip-list w-full">
    <mat-label>{{ label }}</mat-label>
    <mat-chip-grid #chipGrid aria-label="Option selection">
      @for (option of selectedOptions; track option) {
        <mat-chip-row (removed)="remove(option)">
          {{ option }}
          <button matChipRemove [attr.aria-label]="'remove ' + option">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </mat-chip-grid>
    <input
      [placeholder]="placeholder"
      #optionInput
      [formControl]="optionCtrl"
      [matChipInputFor]="chipGrid"
      [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)" />
    <mat-autocomplete
      #auto="matAutocomplete"
      (optionSelected)="selected($event)">
      @for (option of options; track option) {
        <mat-option [value]="option">{{ option }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div>
