<div class="context-menu" *ngIf="visible" [ngStyle]="{ top: y + 'px', left: x + 'px' , padding: '5px' }">
  <ul  *ngIf="ShowFileMenu">
    <div class="menu-holder" (click)="delete()">
      <i class="fa-solid fa-trash"></i>
      <li >حذف</li>
    </div>

    <div class="menu-holder" (click)="rename()">
      <i class="fa-solid fa-i-cursor"></i>
      <li >تغییر نام</li>
    </div>

    <div style="min-height: 1px; border: 1px; border-color: #a39d9d;  border-style: double"></div>

    <div class="menu-holder"(click)="upload()">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <li >بارگذاری</li>
    </div>

    <div class="menu-holder"(click)="download()">
      <i class="fa-solid fa-cloud-arrow-down"></i>
      <li >دانلود</li>
    </div>

    <div class="menu-holder"(click)="share()">
      <i class="fa-solid fa-share-alt"></i>
      <li >اشتراک گذاری</li>
    </div>
  </ul>

  <ul *ngIf="ShowTreeMenu">

    <div class="menu-holder" (click)="createFolder()">
      <i class="fa-solid fa-folder-plus"></i>
      <li >ایجاد پوشه
      </li>
    </div>

    <div style="min-height: 1px; border: 1px; border-color: #a39d9d;  border-style: double"></div>

    <div class="menu-holder" (click)="delete()">
      <i class="fa-solid fa-trash"></i>
      <li >حذف</li>
    </div>

    <!-- <div class="menu-holder" (click)="rename()">
      <i class="fa-solid fa-i-cursor"></i>
      <li >تغییر نام</li>
    </div> -->

    <!-- <div class="menu-holder"(click)="cut()">
      <i class="fa-solid fa-scissors"></i>
      <li >برش</li>
    </div>

    <div class="menu-holder"(click)="copy()">
      <i class="fa-solid fa-copy"></i>
      <li >کپی</li>
    </div>

    <div style="min-height: 1px; border: 1px; border-color: #a39d9d;  border-style: double"></div>

    <div class="menu-holder"(click)="upload()">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <li >بارگذاری</li>
    </div> -->


    <div class="menu-holder"(click)="reload()">
      <i class="fa-solid fa-refresh"></i>
      <li >بازیابی</li>
    </div>

  </ul>

  <ul *ngIf="showEmptyArea">

    <div class="menu-holder"(click)="createFolder()">
      <i class="fa-solid fa-folder-plus"></i>
      <li >ایجاد پوشه
      </li>
    </div>

    <div class="menu-holder"(click)="paste()">
      <i class="fa-solid fa-download"></i>
      <li >چسباندن</li>
    </div>

    <div class="menu-holder"(click)="upload()">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <li >بارگذاری</li>
    </div>

    <div class="menu-holder"(click)="share()">
      <i class="fa-solid fa-share-alt"></i>
      <li >اشتراک گذاری</li>
    </div>
  </ul>

</div>
