<div class="context-menu" *ngIf="visible" [ngStyle]="{ top: y + 'px', left: x + 'px'}">
  <!-- <pre>isSharedFile{{isSharedFile}}</pre>
    <pre>showEmptyArea{{showEmptyArea}}</pre>
        <pre>ShowFileMenu{{ShowFileMenu}}</pre>
                <pre>ShowTreeMenu{{ShowTreeMenu}}</pre> -->
  <ul>
    <div   *ngIf="!ShowFileMenu && !showEmptyArea" class="menu-holder" (click)="delete()">
      <i class="fa-solid fa-trash"></i>
      <li >حذف</li>
    </div>

    <div *ngIf="!isSharedFile && !showEmptyArea" class="menu-holder" (click)="rename()">
      <i class="fa-solid fa-i-cursor"></i>
      <li >تغییر نام</li>
    </div>

    <mat-divider></mat-divider>

    <div *ngIf="!isSharedFile && !showEmptyArea" class="menu-holder"(click)="upload()">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <li >بارگذاری</li>
    </div>

    <div  *ngIf="!showEmptyArea" class="menu-holder"(click)="download()">
      <i class="fa-solid fa-cloud-arrow-down"></i>
      <li >دانلود</li>
    </div>

    <div *ngIf="!isSharedFile && !showEmptyArea" class="menu-holder"(click)="share()">
      <i class="fa-solid fa-share-alt"></i>
      <li >اشتراک گذاری</li>
    </div>
  </ul>

  <ul *ngIf="ShowTreeMenu">

    <div class="menu-holder" (click)="createFolder()">
      <i class="fa-solid fa-folder-plus"></i>
      <li >ایجاد پوشه
      </li>
    </div>

    <mat-divider></mat-divider>
    <div class="menu-holder" (click)="delete()">
      <i class="fa-solid fa-trash"></i>
      <li >حذف</li>
    </div>

    <div class="menu-holder"(click)="reload()">
      <i class="fa-solid fa-refresh"></i>
      <li >بازیابی</li>
    </div>

  </ul>

  <ul *ngIf="showEmptyArea">

    <div class="menu-holder"(click)="createFolder()">
      <i class="fa-solid fa-folder-plus"></i>
      <li >ایجاد پوشه
      </li>
    </div>
    
    <div class="menu-holder"(click)="upload()">
      <i class="fa-solid fa-cloud-arrow-up"></i>
      <li >بارگذاری</li>
    </div>

<!-- 
    <div class="menu-holder"(click)="paste()">
      <i class="fa-solid fa-download"></i>
      <li >چسباندن</li>
    </div>


    <div class="menu-holder"(click)="share()">
      <i class="fa-solid fa-share-alt"></i>
      <li >اشتراک گذاری</li>
    </div> -->
  </ul>

</div>
