{
  "singleQuote": true,
  "bracketSameLine": true,
  "trailingComma": "none",
  "printWidth": 120,
  "overrides": [
    {
      "files": [
        "**/*.css",
        "**/*.scss",
        "**/*.html"
      ],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
