<div @fadeInUp class="card flex-auto">
  <form
    [formGroup]="form"
    class="px-6 py-4 flex flex-col"
    (ngSubmit)="onSubmit()">
    <!-- <div class="flex flex-col sm:grid sm:grid-cols-2 sm:gap-4">
        <mat-form-field class="flex-auto">
          <mat-label>فضای ذخیره کاربر</mat-label>
          <input
            matInput
            formControlName="maxUserStorage"
            type="number"
            placeholder="حداکثر فضای ذخیره کاربر(مگابایت)&hellip;"
            required />
          <mat-error *ngIf="form.get('maxUserStorage')?.invalid"
            >این فیلد اجباری است
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="flex-auto">
          <mat-label>تعداد فایل</mat-label>
          <input
            matInput
            formControlName="maxCountFile"
            type="number"
            placeholder="حداکثر تعداد فایل&hellip;"
            required />
          <mat-error *ngIf="form.get('maxCountFile')?.invalid"
            >این فیلد اجباری است
          </mat-error>
        </mat-form-field>
  
        <mat-form-field class="flex-auto">
          <mat-label>تعداد پوشه</mat-label>
          <input
            matInput
            formControlName="maxCountFolder"
            type="number"
            placeholder="حداکثر تعداد پوشه&hellip;"
            required />
          <mat-error *ngIf="form.get('maxCountFolder')?.invalid"
            >این فیلد اجباری است
          </mat-error>
        </mat-form-field>
      </div> -->
    <div class="flex flex-col gap-3">
      <mat-slide-toggle
        formControlName="userCanPhysicalDelete"
        color="primary"
        labelPosition="after"
        >کاربر میتواند حذف کند
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="userCanRestore"
        color="primary"
        labelPosition="after"
        >کاربر میتواند بازگردانی کند
      </mat-slide-toggle>

      <mat-slide-toggle
        formControlName="adminAllowDelete"
        color="primary"
        labelPosition="after"
        >ادمین میتواند حذف کند
      </mat-slide-toggle>
    </div>

    <div class="flex items-center justify-end gap-2">
      <!-- <button mat-button type="button">لغو</button> -->
      <button color="primary" mat-flat-button type="submit">ذخیره</button>
    </div>
  </form>
</div>
