<div @fadeInUp class="card flex-auto">
  <form
    [formGroup]="form"
    class="px-6 py-4 flex flex-col"
    (ngSubmit)="onSubmit()">
    <div class="flex flex-col sm:grid sm:grid-cols-2 sm:gap-4">
      <mat-form-field class="flex-auto">
        <mat-label>آدرس سرور</mat-label>
        <input
          matInput
          formControlName="Server"
          type="text"
          placeholder="آدرس سرور&hellip;" />
        @if (form.get("Server")?.invalid) {
          <mat-error>این فیلد اجباری است </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>پورت</mat-label>
        <input
          matInput
          formControlName="Port"
          type="number"
          placeholder="پورت&hellip;" />
        @if (form.get("Port")?.invalid) {
          <mat-error>این فیلد اجباری است </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>دامنه</mat-label>
        <input
          matInput
          formControlName="DomainName"
          type="text"
          placeholder="اسم دامنه&hellip;" />
        @if (form.get("DomainName")?.invalid) {
          <mat-error>این فیلد اجباری است </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>DC</mat-label>
        <input
          matInput
          formControlName="DC"
          type="text"
          placeholder="DC&hellip;" />
        @if (form.get("DC")?.invalid) {
          <mat-error>این فیلد اجباری است </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>نام کاربری</mat-label>
        <input
          matInput
          formControlName="Username"
          type="text"
          placeholder="نام کاربری&hellip;" />

        @if (form.get("Username")?.invalid) {
          <mat-error>این فیلد اجباری است </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="flex-auto">
        <mat-label>رمز عبور</mat-label>
        <input
          matInput
          formControlName="Password"
          type="password"
          placeholder="رمز عبور&hellip;" />
        @if (form.get("Password")?.invalid) {
          <mat-error>این فیلد اجباری است </mat-error>
        }
      </mat-form-field>
    </div>

    <div class="flex items-center justify-end gap-2">
      <button color="primary" mat-flat-button type="submit">ذخیره</button>
    </div>
  </form>
</div>
