
.search-input {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;

  input {
    width: 100%;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .spinner-border {
    position: absolute;
    right: 10px;
  }

  .close-icon {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

.select-list {
  height: 200px;
  overflow: auto;
  position: absolute;
  top: 36px;
  border-radius: 5px;
  left: 0;
  background-color: #fff;
  z-index: 5;
}

.selected-list {
  overflow: auto;
  height: 100px;
}

.seleceted-item {
  min-width: 100px;
  width: 100px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.delete-user {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.email-list {
  height: 100px;
  overflow: auto;
}


.cursor-pointer {
  cursor: pointer;
}

.datepicker-container {
  width: 100%;
  border: 1px solid lightgrey;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;

  input {
    width: 100%;
    border: none;

    &:focus {
      outline: none;
    }
  }

  .date-icon {
    position: absolute;
    right: 10px;
    top: 5px;
  }
}

.dialog-button {
  margin: 1px;
  margin-left: 3px;
  background-color: purple;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  color: white !important;
  width: 80px;
}
