<form
  [formGroup]="renameForm"
  class="bg-slate-50 w-full"
  (ngSubmit)="onConfirm()">
  <h1 mat-dialog-title>تغییر نام</h1>
  <div class="bg-white border-black m-1">
    <div mat-dialog-content>
      <mat-form-field class="w-100 bg-white">
        <mat-label>نام جدید</mat-label>
        <input
          matInput
          type="text"
          formControlName="name"
        />
        <mat-hint>حداکثر 200 کاراکتر باشد.</mat-hint>
        @if (name?.invalid) {
          @if (name?.hasError('required')) {
            <mat-error class="text-xs">نام اجباری است.</mat-error>
          } @else if (name?.hasError('maxlength')) {
            <mat-error class="text-xs">طول نام حداکثر 200 کاراکتر می باشد.</mat-error>
          }
        }
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button class="dialog-button text-white" type="button" (click)="onCancel()">انصراف</button>
    <button mat-button class="dialog-button text-white" type="submit">تایید</button>
  </div>
</form>
