<div class="row mx-0 row-cols-1 row-cols-md-2" >
  <div class="col mt-2" *ngIf="!hasError">
    <h2 class="title flex-auto">شناسه کاربری یا ایمیل خود را وارد نمایید</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" *ngIf="token.length && !step3">
    <mat-form-field appearance="outline">
        <mat-label>شناسه کاربری یا ایمیل </mat-label>
        <input matInput placeholder="Enter your username" formControlName="username">
        <mat-error *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        این فیلد الزامی است
        </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="mr-2" [disabled]="loginForm.invalid">
           1 دانلود فایل
    </button>
    </form>

    <div *ngIf="step3">
        <mat-form-field appearance="outline">
        <mat-label>شناسه او تی پی </mat-label>
        <input [(ngModel)]="otp" matInput placeholder="شناسه او تی پی" />
        </mat-form-field>
        {{otp}}
        <button mat-raised-button color="primary" type="button" class="mr-2" [disabled]="!otp.length" (click)="getDownloadLink(otp)">
        2 دانلود فایل
        </button>
    </div>
    
  </div>
   <div class="col mt-2" *ngIf="hasError">
      <h2  class="title text-red-600">لینک دانلود صحیح نمیباشد مجددا تلاش کنید</h2>
   </div>
</div>
