.context-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  width: 150px;
  /* تنظیم عرض منو به اندازه دلخواه */
}

.context-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.context-menu li {
  padding: 8px 12px;
  cursor: pointer;
}

.context-menu li:hover {
  background-color: #f1f1f1;
}

.btn-toolbar {
  border-radius: 5px;
  border: solid 1px #d1d1d1;
  transition: all .25s linear;
  color: #3e5a70;
  font-size: 16px;
  padding: 8px;
}

.btn-toolbar:disabled {
  background-color: #ccc;
  color: #666;
  border: 1px solid #aaa;
  cursor: not-allowed;
  opacity: 0.7;
}


.file-container {
  height: 78vh;
  overflow: auto;
  background-color: white;
  text-align: center;
  align-items: center;
  flex: 1 1 auto;
}

.tree-holder{
  overflow: auto;
}

.file-holder {
  background-color: rgb(242 242 243);
}

.app-path{
  height: 65vh;
  display: block !important;
}

.fileItem.active {
  background-color: rgba(46, 115, 252, 0.11) !important;
}

.fileItem.inactive {
  background-color: rgb(246, 247, 249) !important;
}

.file {
  white-space: nowrap;
  margin: 0 auto;
  font-size: 14px;
  max-width: 100%;
  text-wrap: nowrap;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
}

.grid-view .file-name {
  text-overflow: ellipsis;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
}

.list-view-file-image {
  max-width: 100px;
  max-height: 30px;
  align-self: center;
}

.grid-view-file-image {
  max-width: 100px;
  max-height: 95px;
  align-self: center;
}

.horizontalLine {
  border: none;
  border-bottom: 1px solid rgb(248, 247, 247);
}

.header-text {
  font-size: 56px;
  font-weight: 300;
}

.file-size {
  color: #8b8b8b;
  font-size: smaller;
  text-align: center;
  margin-bottom: 0.7rem;
  margin-left: 0.5rem;
}

.toolbar-holder {
  background-color: rgb(246, 247, 249);
}

.horizontalLine {
  border-left: black;
}

.resizable-container {
  display: flex;
  flex-direction: row;
}

.resizable {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.resizer {
  width: 18px;
  height: auto;
  cursor: col-resize;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}


.search-input {
  flex: 1;
  min-width: 100px;
}


.list-view .fileItem {
  margin: 3px;
  height: 25px;
  background: rgb(246, 247, 249);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border: 1px solid #00000000;
  flex-direction: row;
  width: fit-content;
  margin-right: 50%;
  padding: 2px 8px;
}

.list-view .file-name {
  margin-top: 1rem;
}


.list-view .file-size{
  margin-top: 1rem;
  text-wrap: nowrap;
}

.grid-view .fileItem {
  height: 170px;
  width: 150px;
  margin: 3px;
  background: rgb(246, 247, 249);
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 8px;
  align-items: center;
  border: 1px solid #00000000;

}

.list-view-file-image{
  max-width: 20px;
  max-height: 20px;
}

@media screen and (max-width: 500px) {
  .tree-holder, app-path {
    display: none;
  }

  ngx-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}


.first-link, .second-link{
  text-decoration: none;
  font-size: 12px;
  color: #000000ad;
}

.first-link span {
  cursor: pointer;
  background: rgba(46, 115, 252, 0.11);
  border: 1px solid rgb(0 93 255 / 36%);
  border-radius: 3px;
  padding: 0.1em 0.3em;
  text-align: center;
  transition: all .25s linear;
}
