<vex-page-layout mode="card">
  <vex-page-layout-header class="h-6"></vex-page-layout-header>

  <vex-page-layout-content class="container">
    <div class="card">
      <mat-tab-group>
        <mat-tab [label]="tabs.GeneralGlobalSetting">
          <div class="p-6">
            <global-settings-storage></global-settings-storage>
          </div>
        </mat-tab>

        <mat-tab [label]="tabs.RecycleBinGlobalSetting">
          <div class="p-6">
            <settings-recycle-bin></settings-recycle-bin>
          </div>
        </mat-tab>

        <mat-tab [label]="tabs.EmailGlobalSetting">
          <div class="p-6">
            <global-settings-email></global-settings-email>
          </div>
        </mat-tab>

        <mat-tab [label]="tabs.LDAPSetting">
          <div class="p-6">
            <global-settings-ldap></global-settings-ldap>
          </div>
        </mat-tab>

        <mat-tab [label]="tabs.DownloadGlobalSetting">
          <div class="p-6">
            <global-settings-download></global-settings-download>
          </div>
        </mat-tab>

        <mat-tab [label]="tabs.UploadGlobalSetting">
          <div class="p-6">
            <global-settings-upload></global-settings-upload>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
