<vex-page-layout mode="card">
  <vex-page-layout-header class="h-6"></vex-page-layout-header>

  <vex-page-layout-content class="container">
    <div class="card">
      <mat-tab-group>
        <mat-tab label="ذخیره سازی">
          <div class="p-6">
            <global-settings-storage
              [data]="settingsData[tabs.GeneralGlobalSetting]"
              (submitForm)="
                handleSubmit($event, tabs.GeneralGlobalSetting)
              "></global-settings-storage>
          </div>
        </mat-tab>

        <mat-tab label="سطل زباله">
          <div class="p-6">
            <settings-recycle-bin
              [data]="settingsData[tabs.RecycleBinGlobalSetting]"
              (formSubmit)="
                handleSubmit($event, tabs.RecycleBinGlobalSetting)
              "></settings-recycle-bin>
          </div>
        </mat-tab>

        <mat-tab label="ایمیل">
          <div class="p-6">
            <global-settings-email
              [data]="settingsData[tabs.EmailGlobalSetting]"
              (submitForm)="
                handleSubmit($event, tabs.EmailGlobalSetting)
              "></global-settings-email>
          </div>
        </mat-tab>

        <mat-tab label="تنظیمات LDAP">
          <div class="p-6">
            <global-settings-ldap
              [data]="settingsData[tabs.LDAPSetting]"
              (submitForm)="
                handleSubmit($event, tabs.LDAPSetting)
              "></global-settings-ldap>
          </div>
        </mat-tab>

        <mat-tab label="دانلود">
          <div class="p-6">
            <global-settings-download
              [data]="settingsData[tabs.DownloadGlobalSetting]"
              (submitForm)="
                handleSubmit($event, tabs.DownloadGlobalSetting)
              "></global-settings-download>
          </div>
        </mat-tab>

        <mat-tab label="آپلود">
          <div class="p-6">
            <global-settings-upload
              [data]="settingsData[tabs.UploadGlobalSetting]"
              (submitForm)="
                handleSubmit($event, tabs.UploadGlobalSetting)
              "></global-settings-upload>
          </div>
        </mat-tab>

        <mat-tab label="OTP">
          <div class="p-6">
            <global-settings-otp
              [data]="settingsData[tabs.OtpGlobalSetting]"
              (submitForm)="
                handleSubmit($event, tabs.OtpGlobalSetting)
              "></global-settings-otp>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </vex-page-layout-content>
</vex-page-layout>
